<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebDisk_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WebDisk_Client.Properties.Settings>
            <setting name="downloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="serverIp" serializeAs="String">
                <value>82.156.207.90</value>
            </setting>
            <setting name="runed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="agentAccount" serializeAs="String">
                <value>www</value>
            </setting>
            <setting name="agentPassword" serializeAs="String">
                <value>1287609286</value>
            </setting>
            <setting name="databaseName" serializeAs="String">
                <value>pureftpd</value>
            </setting>
            <setting name="databaseAccount" serializeAs="String">
                <value>pureftpd</value>
            </setting>
            <setting name="databasePassword" serializeAs="String">
                <value>1287609286</value>
            </setting>
            <setting name="absRootPath" serializeAs="String">
                <value>/www/wwwroot</value>
            </setting>
            <setting name="playSuccessSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mailAccount" serializeAs="String">
                <value>zhang1287609286@qq.com</value>
            </setting>
            <setting name="mailPassword" serializeAs="String">
                <value>kxyqycxqgywdgiec</value>
            </setting>
            <setting name="mailServer" serializeAs="String">
                <value>smtp.qq.com</value>
            </setting>
            <setting name="mailPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="showSuccessTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="closeAction" serializeAs="String">
                <value>True</value>
            </setting>
        </WebDisk_Client.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>